{% load staticfiles %}
<html>
    <head>
        <title>
            Yakovenko Liza | Final Homework for Computational Linguistics course
        </title>
    <link href="{% static 'bootstrap3.3.7/css/bootstrap.min.css'%}" rel="stylesheet">
        <style>
            .vertical-align {
                display: flex;
                align-items: center;
            }

            body {
              padding-top: 70px;
            }
        </style>
     {%  block css %}
     {% endblock css %}
    </head>
    <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"href="{% url 'index' %}">Финальное ДЗ</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'language' %}">Определение языка текста</a></li>
              <li><a href="{% url 'similarity' %}">Схожесть текстов</a></li>
              <li><a href="{% url 'natural' %}">Естественность языка</a></li>
              <li><a href="{% url 'encoding' %}">Шифрование текста</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Отчет<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'report' %}">Описание и код</a></li>
                <li><a href="{% url 'test_report' %}">Тестирование</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://github.com/eayakovenko/linguistics">Весь код (<b>Github</b>)</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {% block content %}

    {% endblock %}

    <div id = "footer">
        <center>
            <h4><b>
                &copy; Liza Yakovenko <br>
                Higher School of Economics
            </b></h4>
        </center>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap3.3.7/js/bootstrap.min.js' %}"></script>
    {% block body_scripts %}
    {% endblock %}

    </body>
</html>
