{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="jumbotron">
    <center><h2>Определение языка текста</h2></center>
    <br><br>
        <div class="row vertical-align">
            <div class="col-md-6">
                <center>Выберите текстовый файл:</center>
                <br>
                <form action="{% url 'language' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="btn btn-primary btn-block" for="my-file-selector">Загрузить файл</label>
                    <input id="my-file-selector" type="file" accept="text/plain" name="file" style="display:none;"
                           onchange="$('#upload-file-info').html($(this).val().split('\\').slice(-1)[0]);" required/>
                    <br>
                    <center>
                    <span class='label label-info' id="upload-file-info"></span>
                        </center>
                    <br><br>
                    <input type="submit" class="btn btn-primary btn-block" value="Определить язык"/>
                </form>
            </div>
            <div class="col-md-6 text-center">
                {% if error %}
                    <font color="red"><b>Не удалось обработать файл :(</b></font> <br><br>
                        Ошибка: <b>{{error}}</b>. <br><br>
                        По сообщению выше можно понять, что не понравилось программе.<br><br>
                        <i>Скорее всего проблема в кодировке</i>.<br><br>
                        Необходимо загружать англоязычные тексты, либо файлы в кодировке <b>UTF-8</b>.
                {% elif filename and language %}
                    Файл: <b>{{filename}}</b>
                    <br><br>
                    {%  if language == -1 %}
                        <font color="red"><b>Не удалось определить язык :(</b></font> <br><br>
                        Поддерживаемые языки на настоящий момент: <br><b>Английский</b>, <b>Немецкий</b>, <b>Французский</b>
                        <br><br>
                        Также можете попробовать загрузить текст большего размера.
                    {% else %}
                        Язык: <font color="green"><b>{{language}}</b></font>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <br>
        <hr width="100%">
        <br>
        <p style="font-size:18">
            <br>
        В настоящий момент программа умеет различать следующие языки: </p>
            <ul>
          <li><b>Английский</b></li>
          <li><b>Немецкий</b></li>
          <li><b>Французский</b></li>
          </ul>
         <p style="font-size:18">Алгоритм определения языка основан на общедоступной статистике встречаемости латинских букв в данных языках.</p>

        <p>
      </div>
</div>
{% endblock %}


{% block body_scripts %}
        <script type="text/javascript">
            $(document).ready(
            function(){
                $('input:submit').attr('disabled', true);
                $('input:file').change(
                    function(){
                        if ($(this).val()) {
                            $('input:submit').attr('disabled', false);
                        }
                        else {
                            $('input:submit').attr('disabled', true);
                        }
                    }
                    );
            });
        </script>
{% endblock %}